doctype 5
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Welcome to Logcat
    style(type='text/css').
      * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      }
      .outer-section {
      background-color: #27676b;
      padding: 20px;
      border-radius: 5px;
      width: max-content;
      }
      .outer-section-input {
      width: max-content;
      background-color: #fff;
      border: none;
      padding: 5px;
      border-radius: 5px;
      color: #1F99A4;
      }
      h3 {
      margin-bottom: 10px;
      color: #fff;
      }
      p {
      color: #fff;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 5px
      }
      input {
      color: #1F99A4;
      border: none;
      cursor: pointer;
      text-align: center;
      outline: none
      }
      img {
      margin-bottom: 10px;1`
      }

  body      
    section.outer-section
      img(src='https://logcat-test.herokuapp.com/static/media/logcarLarge.191493e822543991929f4a742296c16b.svg' width='100px' alt='logo')
      h3 You have requested to reset your password
      p
        | We cannot simply send you
        | your old password. A unique link to reset your
        | password has been generated for you. To reset your password, click the
        | the button to copy the code.
      section.outer-section-input(onclick='myFunction()')
        input#myInput(type='text' value='#{url}')
    script(type="text/javascript").
      function myFunction() {
      /* Get the text field */
        var copyText = document.getElementById("myInput");
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
      /* Alert the copied text */
      //   alert("Copied the text: " + copyText.value);
      }
